{% extends "base.html" %}
{% block content %}
    <div class="mx-auto max-w-7xl px-4 py-8 font-sans sm:px-6 sm:py-10">
        <!-- Back -->
        <a href="{% url 'inventory:index' %}" class="action">← Back</a>
        <!-- Header -->
        <div class="header-container">
            {% include "components/_page_header.html" with page_title=ingredient.name %}
            <div class="header-actions">
                <button hx-get="{% url 'inventory:update' ingredient.pk %}"
                        hx-target="#modal-root"
                        class="action button-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="lucide lucide-pen-line-icon lucide-pen-line">
                        <path d="M13 21h8" />
                        <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                    </svg>
                </button>
                <button hx-get="{% url 'inventory:delete' ingredient.pk %}"
                        hx-target="#modal-root"
                        class="action button-delete">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="lucide lucide-trash2-icon lucide-trash-2">
                        <path d="M10 11v6" />
                        <path d="M14 11v6" />
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                        <path d="M3 6h18" />
                        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                    </svg>
                </button>
            </div>
        </div>
        <div id="tab-buttons">
            {% include "components/tab/_tabs.html" with tabs=tabs active_tab=active_tab target="ingredient-detail-content" %}
        </div>
        <div id="ingredient-detail-content">{% include "inventory/ingredient/partials/detail/_overview.html" %}</div>
    </div>
{% endblock content %}
