# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
# Executables
*.exe

# Tailwind / Node
node_modules/
.eslintcache

# Tailwind Build Output (Optional)
# Only ignore if you want the server to build the CSS during deployment
# static/dist/

# IDEs
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db
