{% extends "_base.html" %}
{% block content %}
    <div class="flex justify-center">
        <div class="product-card w-1/2 text-center ">
            <h1 class="my-5 text-3xl font-bold ">{{ product.name }}</h1>
            <p>Stock: {{ product.stock }}</p>
            <p>Price: P{{ product.price }}</p>
            <p>Created: {{ product.created_at }}</p>
            <p>Modified: {{ product.updated_at }}</p>
            <p class="my-5">{{ product.full_description }}</p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex gap-4 mb-2">
            <a href="{% url 'products:product_delete' product.pk %}"
               class="rounded text-white bg-red-700 p-2 shadow-xs">Delete</a>
            <a href="{% url 'products:product_update' product.pk %}"
               class="rounded text-white bg-green-800 p-2 shadow-xs">Update</a>
        </div>
        <a href="{% url 'products:product_list' %}">Back</a>
    </div>
{% endblock content %}
