<div id="empty-placeholder" hx-swap-oob="delete"></div>
<div class="grid grid-cols-12 items-stretch bg-white border-b border-slate-200 last:border-b-0 hover:bg-slate-50 transition-colors duration-150"
     id="ingredient_{{ ingredient.id }}">
    <div class="col-span-4 p-4 border-r border-slate-200 flex items-center font-medium text-slate-900">
        {{ ingredient.name }}
    </div>
    <div class="col-span-4 border-r p-3 flex items-center justify-center bg-transparent">
        <div class="relative w-full max-w-[120px]">
            {% include "production/recipe/partials/selected_ingredients_table/_selected_ingredients_table_qty_input.html" %}
        </div>
    </div>
    <div class="col-span-4 p-3 flex items-center justify-center bg-transparent">
        {% include "production/recipe/partials/selected_ingredients_table/_selected_ingredients_table_rm_button.html" %}
    </div>
    <input type="hidden" name="ingredient_ids" value="{{ ingredient.id }}">
</div>
