{% include "production/batch/partials/_batch_status_oob.html" %}
<button id="cancel-btn"
        hx-swap-oob="true"
        class="batch-process-btn disabled-btn-color"
        disabled>
    {% if batch.status == batch.Status.IN_PROGRESS %}
        Abort Process
    {% else %}
        Cancel Production
    {% endif %}
</button>
<button id="complete-btn"
        hx-swap-oob="true"
        class="batch-process-btn disabled-btn-color"
        disabled>✓ Mark as Complete</button>
<button id="produce-btn"
        hx-swap-oob="true"
        class="batch-process-btn disabled-btn-color"
        disabled>Start Production</button>
