{% include "components/card/_header.html" with title="Production Timeline" subtitle="Track each stage of this production batch from creation to completion or cancellation." %}
<div class="p-4 flex flex-col gap-2">
    <h1>{{ batch.get_status_display }}</h1>
    <div class="flex gap-2 items-center">
        {% include "components/svgs/production/_progress_timeline_dot.html" %}
        <div class="text-xs">Created {{ batch.created_at|date:"M d, Y • g:i A" }}</div>
    </div>
    {% if batch.started_at %}
        <div class="flex gap-2 items-center">
            <div class="relative">
                {% include "components/svgs/production/_progress_timeline_dot.html" %}
                <div class="absolute left-1/2 bottom-2 h-5 w-[1.5px] {% if batch.status == batch.Status.COMPLETE %} bg-green-500 {% elif batch.status == batch.Status.IN_PROGRESS %}bg-blue-500{% elif batch.status == batch.Status.PENDING %}bg-yellow-700 {% else %} bg-red-500 {% endif %}">
                </div>
            </div>
            <div class="text-xs">Started {{ batch.started_at|date:"M d, Y • g:i A" }}</div>
        </div>
    {% endif %}
    {% if batch.completed_at %}
        <div class="flex gap-2 items-center">
            <div class="relative">
                {% include "components/svgs/production/_progress_timeline_dot.html" %}
                <div class="absolute left-1/2 bottom-2 h-5 w-[1.5px] {% if batch.status == batch.Status.COMPLETE %} bg-green-500 {% elif batch.status == batch.Status.IN_PROGRESS %}bg-blue-500{% elif batch.status == batch.Status.PENDING %}bg-yellow-700 {% else %} bg-red-500 {% endif %}">
                </div>
            </div>
            <div class=" text-xs">Completed {{ batch.completed_at|date:"M d, Y • g:i A" }}</div>
        </div>
    {% endif %}
    {% if batch.cancelled_at %}
        <div class="flex gap-2 items-center">
            <div class="relative">
                {% include "components/svgs/production/_progress_timeline_dot.html" %}
                <div class="absolute left-1/2 bottom-2 h-5 w-[1.5px] {% if batch.status == batch.Status.COMPLETE %} bg-green-500 {% elif batch.status == batch.Status.IN_PROGRESS %}bg-blue-500{% elif batch.status == batch.Status.PENDING %}bg-yellow-700 {% else %} bg-red-500 {% endif %}">
                </div>
            </div>
            <div class=" text-xs">
                {% if batch.started_at %}
                    Aborted
                {% else %}
                    Cancelled
                {% endif %}
                {{ batch.cancelled_at|date:"M d, Y • g:i A" }}
            </div>
        </div>
    {% endif %}
    {% if batch.cancellation_note %}
        <p>Cancellation Reason:</p>
        <p class="rounded-md border border-red-400 bg-red-200 text-xs p-3">{{ batch.cancellation_note }}</p>
    {% endif %}
</div>
