{% include "production/batch/partials/_batch_status_oob.html" %}
{# Button #}
<button id="produce-btn"
        hx-swap-oob="true"
        class="batch-process-btn disabled-btn-color"
        disabled>Start Production</button>
<button id="complete-btn"
        hx-post="{% url 'production:complete' batch.pk %}"
        hx-swap-oob="true"
        class="batch-process-btn complete-btn">✓ Mark as Complete</button>
<button id="cancel-btn"
        hx-swap-oob="true"
        hx-post="{% url 'production:cancel' batch.pk %}"
        class="batch-process-btn cancel-btn">
        {% if batch.status == batch.Status.IN_PROGRESS %}
                Abort Process
        {% else %}
                Cancel Production
        {% endif %}
</button>
