<div id="batch-details" class="card" hx-swap-oob="true">
    {% include "production/batch/partials/_batch_details.html" %}
</div>
<div id="production-action-btn-grp"
     hx-swap-oob="true"
     class="mt-2 border-slate-200 pt-3 gap-2 flex flex-col w-[100px] items-center">
    {% include "production/batch/partials/_action_btn_grp.html" %}
</div>
<div id="production-timeline" hx-swap-oob="true" class="card">
    {% include "production/batch/partials/_progress_timeline.html" %}
</div>
<div id="modal-root" hx-swap-oob="true"></div>
