{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <div class="mx-auto my-12 max-w-6xl px-4 font-sans">
        <!-- Header -->
        <div class="mb-8 flex flex-col gap-4 sm:flex-row sm:items-end sm:justify-between">
            <div>
                {% include "production/recipe/partials/_back_to_recipe_dashboard_button.html" %}
                <div class="mt-4">{% include "components/_page_header.html" with page_title=recipe.name %}</div>
            </div>
            <div class="flex gap-2">
                {% include "production/recipe/partials/detail/actions/_edit_button.html" %}
                {% include "production/recipe/partials/detail/actions/_delete_button.html" %}
            </div>
        </div>
        <!-- Main Content -->
        <section>
            <!-- Overview -->
            {% include "production/recipe/partials/detail/_overview_cards.html" %}
            <!-- Recipe Notes -->
            {% include "production/recipe/partials/detail/_description.html" %}
        </section>
        <!-- Ingredients -->
        {% include "production/recipe/partials/detail/_ingredients_table.html" %}
        <section class="flex justify-end">
            <button hx-post="{% url 'production:create_batch' recipe.pk %}"
                    hx-target="#recipe-produce-message"
                    class="border p-2 rounded-md border-gray-200 bg-blue-500 text-white m-2 active:scale-95">
                <div class="flex gap-2">
                    <p>Create batch</p>
                </div>
            </button>
        </section>
    </div>
{% endblock content %}
