{% comment %} MESSAGE {% endcomment %}
{% include "components/toast/_toast_oob.html" with message=message type=type %}
{% comment %} SELECTED INGREDIENTS TABLE ROW {% endcomment %}
<div id="selected-ingredients-table" hx-swap-oob="true">
    {% include "production/recipe/partials/selected_ingredients/_table.html" with recipe_ingredients=recipe_ingredients %}
</div>
{% comment %} BASIC FIELDS {% endcomment %}
<div id="recipe-basic-fields" hx-swap-oob="outerHTML">
    {% include "production/recipe/partials/form/_basic_fields.html" %}
</div>
