@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toast {
    0%, 85% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(1rem);
    }
}

.toast {
    animation: toast 2s forwards;
}


.card {
    @apply rounded-xl border border-slate-200 bg-white shadow-sm
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 150ms ease-in;
}
.htmx-request .htmx-indicator, 
.htmx-request.htmx-indicator {
    opacity: 1;
}